:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: rgb(24, 24, 24);
  --shadow: 0 2px 4px -2px rgba(0, 0, 0, .8);
    font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* a:hover {
    color: #9F1A8F;
  }  */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
    --shadow: 0 2px 4px -2px rgba(0, 0, 0, .2);
  }
} */

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
}


/* button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  padding: 4px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  background-color: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #9F1A8F;
}  */

/** 滚动条样式 */
.scrolly {
  box-sizing: border-box;
  overflow-y: auto; 
}

.scrolly::-webkit-scrollbar {
  height: .4em;
  width: .4em;
  background-color: transparent;
}

.scrolly::-webkit-scrollbar-thumb {
  background-color: #ffffff5f;
  border-radius: .4em;
}

.scrolly::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff8f;
}

.scrolly::-webkit-scrollbar-track {
  border-radius: .4em;
}

